<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.diy_simulator"
    android:targetSandboxVersion="1">
    <!-- 네트워크 사용에 대한 퍼미션 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 카메라 관련 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" /> <!-- opencv -> false -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_white_mint"
        android:label="DIY Simulator"
        android:roundIcon="@mipmap/logo_white_mint_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".OrderDetailActivity"></activity>
        <activity android:name=".OrderActivity" /> <!-- - 안드로이드 8.0 이상 푸시 처리 추가 코드 -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorMint" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        <activity android:name=".ModifyMyItemActivity"/>
        <activity android:name=".CustomerImageUploadActivity"/>
        <activity android:name=".ModifySellerProductActivity" />
        <activity android:name=".ModifySellerActivity" />
        <activity android:name=".ModifyInfoActivity" />
        <activity android:name=".MainTabActivity" />
        <activity android:name=".ImageActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".ImageUploadActivity" />
        <activity
            android:name=".PopupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/popupTheme" />
        <activity
            android:name=".RemovebackgroundActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" /> <!-- optional (needed if default theme has no action bar) -->
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
        <service
            android:name=".FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- >android:authorities="com.example.diy_simulator.fileprovider" -->

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>